# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

config.json
hawk-apiserver

.vagrant
*.vdi

# Ignore vagrant config file
vagrant_config.rb
*_public_ip

# Ignore SSL certificates and logs
*.key
*.pem
tools/certificate.log
*.0
